@charset "UTF-8";

body {
    background-color: rgb(93, 172, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    
}

header {
    h1 {
        font-weight: bolder;
        text-align: center;
    }
}

main {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    margin: auto auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    
    div#dados {
        p {
            margin: 0px;
            text-align: center;
        }
        
        #num{
            border-radius: 10px;
            width: 20%;
            text-align: center;
        }

        #ger_tab {
            border-radius: 10px;
        }
    }
    
    div#resu {
        display: none;
        p {
            margin: 0px;
        }
        
        div#tab{
            display: flex;
            justify-content: center;

            select {
                option {
                    text-align: center;
                }
                
                border: 2px solid rgba(93, 172, 245, 0.438);
            }
        }
    }
}
    
footer {
    text-align: center;
}