@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black url('../imagens/fundo-madeira.jpg') center / cover no-repeat fixed;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

#smartphone {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background: url('../imagens/frame-iphone.png') center / cover no-repeat;
}

#screen {
    width: 270px;
    height: 475px;
    border: 3px solid rgb(31, 31, 31);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#social_medias {
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
}

#social_medias img {
    width: 70px;
    height: auto;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

#social_medias img:hover {
    border: 2px solid rgba(255, 255, 255);
    transform: translate(-3px, -3px);
    box-shadow: 0px 0px 15px 1px rgb(255, 255, 255);
    transition: transform 0.15s, border 0.15s;
}